html {
  margin: 1em;
  font-size: 100%;
  line-height: 1.5;
}
table.styled {
  border-collapse: collapse;
  text-align: left;
  font-family: Avenir, Roboto, Heveltica, sans-serif; 
}
.styled th {
  text-align: inherit;
  color: rgb(1, 1, 1);
  background: rgb(9, 121, 54);
}
.styled th, .styled td {
  border-collapse: collapse;
  padding: 0.5em 0.75rem 0.2em;
  vertical-align: top;
}
.styled tr {
    border: 1px solid #999;
}
.styled img {
  max-width: 100%;
  height: 200%;
}